face_recognition_models
Click>=6.0
numpy
Pillow
scipy>=0.17.0
cvzone
ultralytics
deepface
tf-keras
moviepy
face_recognition
deepface
opencv-python
pillow
torchaudio==0.13.0
torchvision==0.14.0
torch==1.13.0
openmim==0.3.2
mmcv-full==1.7.0
mmdet==2.27.0
smtplib
fer
matplotlib
pandas
tqdm